<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>titles</key>
	<array>
		<string>中华菜系</string>
		<string>口味分类</string>
		<string>人群分类</string>
		<string>烹饪分类</string>
		<string>功效分类</string>
	</array>
	<key>0</key>
	<array>
		<string>菜系-川菜</string>
		<string>菜系-湘菜</string>
		<string>菜系-粤菜</string>
		<string>菜系-徽菜</string>
		<string>菜系-闽菜</string>
		<string>菜系-浙菜</string>
		<string>菜系-苏菜</string>
		<string>菜系-其它菜系</string>
	</array>
	<key>1</key>
	<array>
		<string>口味-苦</string>
		<string>口味-辣</string>
		<string>口味-酸</string>
		<string>口味-甜</string>
		<string>口味-咸</string>
		<string>口味-鲜</string>
		<string>口味-淡</string>
	</array>
	<key>2</key>
	<array>
		<string>人群-婴幼儿</string>
		<string>人群-儿童</string>
		<string>人群-女性</string>
		<string>人群-孕妇</string>
		<string>人群-产妇</string>
		<string>人群-男性</string>
		<string>人群-老年人</string>
		<string>人群-糖尿病者</string>
		<string>人群-高血压病者</string>
		<string>人群-高血脂病者</string>
		<string>人群-肠胃病者</string>
		<string>人群-一般人群</string>
	</array>
	<key>3</key>
	<array>
		<string>烹饪-拌</string>
		<string>烹饪-腌</string>
		<string>烹饪-卤</string>
		<string>烹饪-炒</string>
		<string>烹饪-焖</string>
		<string>烹饪-蒸</string>
		<string>烹饪-煎</string>
		<string>烹饪-炸</string>
		<string>烹饪-炖</string>
		<string>烹饪-煮</string>
		<string>烹饪-烤</string>
		<string>烹饪-冻</string>
		<string>烹饪-泡</string>
		<string>烹饪-榨汁</string>
	</array>
	<key>4</key>
	<array>
		<string>功效-增强免疫</string>
		<string>功效-提神健脑</string>
		<string>功效-瘦身排毒</string>
		<string>功效-美容养颜</string>
		<string>功效-养心润肺</string>
		<string>功效-保肝护肾</string>
		<string>功效-开胃消食</string>
		<string>功效-益气补血</string>
		<string>功效-安神助眠</string>
		<string>功效-降低血压</string>
		<string>功效-降低血糖</string>
		<string>功效-降低血脂</string>
		<string>功效-清热解毒</string>
		<string>功效-补铁</string>
		<string>功效-补锌</string>
		<string>功效-补钙</string>
		<string>功效-增高助长</string>
		<string>功效-增长记忆力</string>
		<string>功效-益智健脑</string>
		<string>功效-保护视力</string>
		<string>功效-健脾止泻</string>
		<string>功效-防癌抗癌</string>
	</array>
</dict>
</plist>
